#operation-panel {
    display: flex;
    margin-left: 50px;
}

.operator-btn{
    margin-top: 10px;
    margin-left: 50px;
    width:160px;
    height:50px;
    border-radius: 8px;
    font-family: roboto;
    text-align: center;
}

#add
{   
    background: rgba(33, 150, 243, 0.59);
}

#subtract
{   
    background: rgba(255, 111, 0, 0.73);
}

#foo
{   
    background: rgba(76, 175, 80, 0.9);
}

#dosthcomplicated
{   
    background:pink;
}

#input1
{
    width:80px;
    height:20px;
    margin-left: 250px;
    margin-top: 100px;
    border: 1px solid black;
}

#input2
{
    width:80px;
    height:20px;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid black;
}

#input3
{
    width:80px;
    height:20px;
    margin-left: 250px;
    margin-top: 100px;
    border: 1px solid black;
}

#input4
{
    width:80px;
    height:20px;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid black;
}

#input5
{
    width:80px;
    height:20px;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid black;
}

#input6
{
    width:80px;
    height:20px;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid black;
}

#area 
{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height:300px;
    border: 1px solid black;
}

#clear 
{
    margin-top: 20px;
    margin-left: 130px;
    height:50px;
    border-radius: 4px;
    padding: 10px 40px;
    border: 1px solid black;
    background: white;
    font-size: larger;
}

